
@font-face {
    font-family: 'TTHoves';
    src:  url('../assets/fonts/TTHoves-Regular.woff2') format('woff2'),
          url('../assets/fonts/TTHoves-Regular.woff') format('woff');
  }

  
@font-face {
    font-family: 'italic';
    src:  url('../assets/fonts/static/Piazzolla/Piazzolla-Regular.ttf') format('tff');
  }

 *{
    font-family: 'TTHoves';
 } 
/*
Theme Colors
*/

.primary-color-text{
    color: #16191B;
}
.primary-color{
    background-color: #16191B;
}

.secondary-color-text{
    color: #F46530;
}
.secondary-color{
    background-color: #F46530;
}

.third-color-text{
    color: #345c72;
}
.third-color{
    background-color: #345c72;
}

.pastel-1-color-text{
    color: #FF9e7a;
}
.pastel-1-color{
    background-color: #FF9e7a;
}

.pastel-2-color-text{
    color: #D4edf4;
}
.pastel-2-color{
    background-color: #D4edf4;
}

.pastel-3-color-text{
    color: #fdfdfd;
}
.pastel-3-color{
    background-color: #fdfdfd;
}

/* Rectangle 11 */
.title{ 
width: 100vw;
height: 20vh;
left: 0px;
top: 0px;
}

.branding,.header{
font-family: 'TTHoves';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 59px;
text-align: center;
}

.title{
/* top margin */
padding-top: 5vh;
}

.banner-section{
    height: 100vh;
}
.banner{
    height: 60vh;
    padding: 15vh 32vw;
}
.headline{
    font-family: url('../assets/fonts/TTHoves-Regular.woff2');
    font-style: normal;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 1.45;
    /* or 114% */

    text-align: center;

    color: #16191B;
}

.tagline{
    font-family: 'italic';
    font-style: italic;
}

.cta{
    margin-top: 2rem;
}
.cta button, .cta-2 button{
    padding: 0.35rem 1.2rem;
    margin: 1rem;
    border-radius: 5px;
    font-size: large;
}

.projects{
    height: 105vh;
}

.projects .header{
    padding: 3rem 1rem;
}
.project-carousel{
    height: 60vh;
}

.cta-2{
    margin-top: 10vh;
height: 15vh;
}


.footer{
    /* height: 70vh; */
    margin-top: 2rem;
    padding: 1rem 0;
  }

